<!DOCTYPE html>
<html>
<head>
    <title>Traffic Violation System</title>
</head>
<body>

<nav style="background:#111;padding:15px;">
    <a href="/" style="color:white;margin-right:20px;">Home</a>
    <a href="/dashboard" style="color:white;margin-right:20px;">Dashboard</a>
    <a href="/analytics" style="color:white;margin-right:20px;">Analytics</a>
    <a href="/history" style="color:white;">History</a>
</nav>

<div style="padding:30px;">
    {% block content %}{% endblock %}
</div>

</body>
</html>